@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-geist-mono);
}

html {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-pretendard);
  min-height: 100%;
  margin: 0;
}
